body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  font-family: 'Jost', sans-serif !important;
}

/* variables */
:root {
  --transition-delay: .3s ease-in;
}

/* navbar styling */
nav .container .navbar-brand {
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
}

nav .container .collapse .navbar-nav .nav-item .nav-link {
  color: #222222 !important;
  transition: var(--transition-delay);
  font-size: 1.2rem;
  position: relative;
}

nav .container .collapse .navbar-nav .nav-item .nav-link:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}

/* button styling */
.btn {
  transition: var(--transition-delay) !important;
  padding: 12px 30px !important;
  border-radius: 0px !important;
}

/* hero styling */
.hero {
  padding: 0px;
  height: 100vh;
  width: 100vw;
}

section {
  padding: 5rem 0px;
}